*{
    margin: 0; 
    padding: 0; 
}

body{
  font-family: "Comic Relief", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 2%;
}

main{
  padding: 2rem 0;
}

#inicio{
  display: flex;
  justify-content: space-between; /* asigna un espacio de separación entre h1 y nav de manera que ocupen el ancho del contenedor */
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#inicio nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}

#notebooks{
  margin-top: 2rem;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}

.card{
  padding: 2rem;
  border: 2px solid #276ed8bb;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  flex: 1 1 220px;
}

img{
  width:90%;
}

.precio{
  color: #009ec9;
}

.promo{
  color: #005f86;
}

#contacto{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; /* centra verticalmente los elementos dentro del footer */
  gap: 1rem;
  padding: 1rem 0;
}

#contacto ul{
  list-style: none;
}